:root {
    --highlight: #16c581;
    --primary: #fafafa;
    --secondary: #676767;
    --tertiary: #e1e1e1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #212121;
        --secondary: #b9bec5;
        --tertiary: #404040;
    }
}

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--primary);
    color: var(--secondary);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: 500ms fadeIn linear;
}

* { transition: 0.15s linear }

nav {
    margin: 2% auto;
    padding: 3px 0;
    width: 100%;
}

nav a {
    color: var(--secondary);
    font-weight: bold;
    font-family: "Consolas", monospace;
    font-size: 12pt;
    margin: 0.5% 2%;
    padding: 1px;
    width: auto;
    opacity: 0.7;
    border: none;
}

nav a:hover {
    opacity: 1;
    border: none;
    color: var(--highlight);
    text-decoration: none;
}

nav a:first-of-type { margin: 0.5% 2% 0.5% 0 }

a {
    color: var(--highlight);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-family: "Consolas", monospace;
    font-size: inherit;
    margin: auto;
}

textarea, input[type='button'] {
    display: block;
    padding: 7.5px 10px;
    margin: 2% 0;
    background: var(--tertiary);
    outline: none;
    border: none;
    font-size: 12pt;
    font-family: "Consolas", monospace;
    color: var(--secondary);
}

textarea {
    min-width: 100%;
    resize: vertical;
    min-height: 300px;
    margin: 2% 0;
    opacity: 0.7;
}

textarea:hover, textarea:focus { opacity: 1 }

input[type='button']:hover, input[type='button']:focus {
    background-color: var(--highlight);
    color: var(--tertiary);
    cursor: pointer;
}

input[type='button']:focus { transform: translateY(3px) }

input[type='checkbox']:focus { box-shadow: 0 0 0 1px var(--highlight) }

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

::-moz-selection {
    background-color: var(--highlight);
    color: var(--primary);
}
::selection {
    background-color: var(--highlight);
    color: var(--primary);
}